/* Font imports */

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* Colors */
:root {
  --main: #ef946c;
  --main-2: #d4cbe5;
  --background: #ebf2fa;
  --foreground: #1c3041;
  --accent: #07a0c3;
}

h1 {
  width: 100%;
  text-align: center;
  padding: 100px 0;
  background-image: url(/assets/images/backgrounds/salon\ 1.png);
  margin: 40px 0;
}

.facts {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  margin: 20px 0;
}

.fact {
  background-color: white;
  padding: 20px;
  border-radius: 15px;
}

.priorities-wrapper {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  margin: 20px 0;
}

.priority {
  background-color: white;
  padding: 20px;
  border-radius: 15px;
}
